#formCadastrar {
  display: grid;
  gap: 30px;
  padding: 64px;
  background-color: rgb(6, 30, 77);
}
#formCadastrar input {
  width: 60%;
  height: 50px;
  background-color: white;
  color: black;
  font-size: x-large;
}
#formCadastrar label {
  text-align: left;
  display: grid;
  font-weight: bolder;
}
#formCadastrar select {
  width: 60%;
  height: 60px;
  font-size: x-large;
  background-color: white;
  color: black;
}
#formCadastrar textarea {
  background-color: white;
  width: 60%;
  height: 120px;
  color: black;
  font-size: x-large;
  font-weight: 500;
}
.contBtn {
  display: flex;
  gap: 16px;
}
.contBtn button {
  padding: 10px;
  border-radius: 5px;
  height: 50px;
  width: 120px;
  font-size: larger;
  font-weight: bolder;
  cursor: pointer;
  transition: 500ms;
}

.cancelar {
  color: white;
  background-color: red;

  border: 0;
}
.cancelar:hover {
  background-color: rgb(204, 1, 1);
  transform: perspective(10px) translateZ(1px);
}
.salvar {
  color: rgb(255, 255, 255);
  background-color: green;

  border: 0;
}
.salvar:hover {
  background-color: rgb(0, 114, 0);
  transform: perspective(10px) translateZ(1px);
}
